<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>consumeName</key>
		<string>利息</string>
		<key>totlaFree</key>
		<real>896.1799999999999</real>
		<key>isOpened</key>
		<true/>
		<key>consumeDetails</key>
		<array>
			<dict>
				<key>description</key>
				<string>本期利息</string>
				<key>trans_date</key>
				<string>2016/03/05</string>
				<key>amount_RMB</key>
				<real>706.28</real>
				<key>consume_type</key>
				<string></string>
			</dict>
			<dict>
				<key>description</key>
				<string>循环利息</string>
				<key>trans_date</key>
				<string>2016/02/05</string>
				<key>amount_RMB</key>
				<real>189.9</real>
				<key>consume_type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>consumeName</key>
		<string>手续费</string>
		<key>totlaFree</key>
		<real>296.89</real>
		<key>isOpened</key>
		<true/>
		<key>consumeDetails</key>
		<array>
			<dict>
				<key>description</key>
				<string>账单分期手续费</string>
				<key>trans_date</key>
				<string>2016/03/23</string>
				<key>amount_RMB</key>
				<real>108.09</real>
				<key>consume_type</key>
				<string></string>
			</dict>
			<dict>
				<key>description</key>
				<string>账单分期手续费</string>
				<key>trans_date</key>
				<string>2016/01/23</string>
				<key>amount_RMB</key>
				<real>188.8</real>
				<key>consume_type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>consumeName</key>
		<string>年费</string>
		<key>totlaFree</key>
		<integer>500</integer>
		<key>isOpened</key>
		<true/>
		<key>consumeDetails</key>
		<array>
			<dict>
				<key>description</key>
				<string>年费</string>
				<key>trans_date</key>
				<string>2016/03/23</string>
				<key>amount_RMB</key>
				<integer>500</integer>
				<key>consume_type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>consumeName</key>
		<string>滞纳金</string>
		<key>totlaFree</key>
		<real>596.92</real>
		<key>isOpened</key>
		<true/>
		<key>consumeDetails</key>
		<array>
			<dict>
				<key>description</key>
				<string>滞纳金</string>
				<key>trans_date</key>
				<string>2016/03/23</string>
				<key>amount_RMB</key>
				<real>596.92</real>
				<key>consume_type</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
